<div class="container">
</div>

<div class="container matches">
	<div class="row">
		<% @recipes.each do |recipe| %>
			<% if recipe.image != nil %>
				
					<div class="col-md-4 recipes">
						<div class="recipecontent">
							<h1><%= recipe.name %></h1><br>
							<p></p>
							<% if recipe.image != nil%>
								<div class="image">
									<%= image_tag recipe.image %>
								</div>
							<% end %>
							<p></p>
							<%= recipe.ingredients.gsub!(/\n/,', ') %>
						</div>
					</div>
				
			<% end %>
		<% end %>
</div>
</div>

