<div class="container">
</div>

<div class="container matches">
	<h1>Our Results!</h1>
		<% @recipes.each do |recipe| %>
			<%= render partial: 'recipe', object: recipe %>
		<% end %>
</div>


 <!-- && (Net::HTTP.get_response(URI.parse(recipe.image)).code == '200') -->