<div class="container profile">
	<div class="row">
		<div class="md-col-12 username">
			<h1><%= current_user.email %></h1>
		</div>
		<h3>Your Recipes</h3>
	</div>
</div>

<% if @user.favorites.any? %>
	<div class="container">
	</div>

	<%= render 'profile' %>
		
	</div>
<% end %>


