<div class="container home_page">
	<div class="row">
		<div class="col-md-12 search_area">
			<div class="text_section">
				<h1>What are we cooking with today?</h1>
				<%= render 'form' %>
			</div>
		</div>
	</div>

	<div class="row recipes_top4">

		<div class="col-md-3">
			<div class="top_recipe">

			</div>
		</div>

		<div class="col-md-3">
			<div class="top_recipe">
				
			</div>
		</div>

		<div class="col-md-3">
			<div class="top_recipe">
				
			</div>
		</div>

		<div class="col-md-3">
			<div class="top_recipe">
				
			</div>
		</div>
	</div>
</div>


<div class="container company_info">

	<div class="col-md-12 company_agenda">
		<h3>Here at foodforge</h3>
		<h3>We help you explore new and exciting recipes, from ingredients you always buy.</h3>
	</div>

</div>

<div class="container company_goals">
	<div class="col-md-4 text1">
		<p>Always buy the same food? Always cook the same 3 dishes for dinner? We help you find new recipes with the same food you always buy!</p>
	</div>

	<div class="col-md-4 text2">
		<p>Search by your favorite ingredients. We’ll help you find new and exciting things to cook!</p>
	</div>

	<div class="col-md-4 text3">
		<p>Our goal is to help you explore the possibilities of cooking, while making it fun and easy.</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 icon">
			
		</div>
		<div class="col-md-4 icon">
			
		</div>
		<div class="col-md-4 icon">
			
		</div>
	</div>
</div>

<div class="container connect">

	<div class="col-md-12">
		<nav>
			<ul>
				<li>facebook</li>
				<li>twitter</li>
				<li>instagram</li>
			</ul>
		</nav>
	</div>

</div>
