// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile{
	.row{
		text-align: center;
	}
	.username{

	}
}

input[type="checkbox"]{
	-webkit-transform: scale(2);
	margin: .2em;
  // position: absolute;
  // left: -9999px;
  // width: 200px;
  .text{
  	font-size: 2em;
  }
}

.checklist{
	padding: 1em;
}